
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 258 46% 11%;
    --foreground: 0 0% 100%;
    --card: 258 40% 15%;
    --card-foreground: 0 0% 100%;
    --popover: 258 46% 11%;
    --popover-foreground: 0 0% 100%;
    --primary: 260 80% 75%;
    --primary-foreground: 260 80% 15%;
    --secondary: 258 40% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 258 40% 15%;
    --muted-foreground: 0 0% 70%;
    --accent: 260 80% 75%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 258 40% 25%;
    --input: 258 40% 15%;
    --ring: 260 80% 75%;
    --chart-1: 260 80% 75%;
    --chart-2: 300 80% 75%;
    --chart-3: 180 80% 75%;
    --chart-4: 60 80% 75%;
    --chart-5: 0 80% 75%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 258 46% 11%;
    --foreground: 0 0% 100%;
    --card: 258 40% 15%;
    --card-foreground: 0 0% 100%;
    --popover: 258 46% 11%;
    --popover-foreground: 0 0% 100%;
    --primary: 260 80% 75%;
    --primary-foreground: 260 80% 15%;
    --secondary: 258 40% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 258 40% 15%;
    --muted-foreground: 0 0% 70%;
    --accent: 260 80% 75%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 258 40% 25%;
    --input: 258 40% 15%;
    --ring: 260 80% 75%;
    --chart-1: 260 80% 75%;
    --chart-2: 300 80% 75%;
    --chart-3: 180 80% 75%;
    --chart-4: 60 80% 75%;
    --chart-5: 0 80% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cpath d='M0 0 H100 V100 H0 Z' fill='%23110d24'/%3e%3cpath d='M 50 0 A 50 50 0 0 1 50 100' stroke='%23ffffff' stroke-width='0.1' fill='none'/%3e%3cpath d='M 50 0 A 50 50 0 0 0 50 100' stroke='%23ffffff' stroke-width='0.1' fill='none'/%3e%3c/svg%3e");
  }
}
